@model WebApplication1.Models.DataViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DataViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align:center; padding-top:5px">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
            <div style="text-align:center; padding-top:5px">
                <a asp-action="Index" class="btn" style="background-color:palevioletred;">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
